.container{
	text-align:center;
	background-color:lightgreen;
	box-shadow:2px 2px 2px 10px rgba(0,0,0,0.1);
	margin:auto;
	padding:10px;
	max-width:500px;
}
p{
	color:blue;
	text-align:center;
}
.im1{
	color:green;
	text-align:center;
}
a{
	
	color:orange;
}
body{
	text-align:center;
	background-color:skyblue;
}